 
body {
  margin: 0;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

form > a {
  margin-left: 1rem;
}

.pointer{
  cursor: pointer;
}
.table a {
margin-right: 1rem;

}
 
hr.hr_header {
  border: none;
  background-color: #FAB900;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 2px;
  margin: 0px 0px;
}
 
 
h1,h3, .h1 {
  font-size: 18px;
  color: #F5b400;
  font-weight: bold;
  font-size: 2em;
}

h1, h2, h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  padding-top: 3%;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 1.1;
}
thead>tr.color{
  background-color: #001c43;
  color:rgb(240, 240, 240);
}

.btn-primary {
  color: #fff;
  /* background-color: #007bff; */
  border-color: #001c43;
}